.icon-arrow-left-brand_bright_green { background-image: url('png/arrow-left-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-arrow-left-brand_dark { background-image: url('png/arrow-left-brand_dark.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right-brand_bright_green { background-image: url('png/arrow-right-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-arrow-right-brand_dark { background-image: url('png/arrow-right-brand_dark.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-clock-brand_bright_green { background-image: url('png/clock-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-clock-brand_dark { background-image: url('png/clock-brand_dark.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.icon-facebook-brand_bright_green { background-image: url('png/facebook-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-facebook-brand_dark { background-image: url('png/facebook-brand_dark.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-linkedin-brand_bright_green { background-image: url('png/linkedin-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-linkedin-brand_dark { background-image: url('png/linkedin-brand_dark.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-location-brand_bright_green { background-image: url('png/location-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-location-brand_dark { background-image: url('png/location-brand_dark.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.icon-man-brand_bright_green { background-image: url('png/man-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-man-brand_dark { background-image: url('png/man-brand_dark.png'); background-repeat: no-repeat; }

.icon-man { background-image: url('png/man.png'); background-repeat: no-repeat; }

.icon-meetjs-brand_bright_green { background-image: url('png/meetjs-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-meetjs-brand_dark { background-image: url('png/meetjs-brand_dark.png'); background-repeat: no-repeat; }

.icon-meetjs { background-image: url('png/meetjs.png'); background-repeat: no-repeat; }

.icon-share-brand_bright_green { background-image: url('png/share-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-share-brand_dark { background-image: url('png/share-brand_dark.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

.icon-twitter-brand_bright_green { background-image: url('png/twitter-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-twitter-brand_dark { background-image: url('png/twitter-brand_dark.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-wikia-brand_bright_green { background-image: url('png/wikia-brand_bright_green.png'); background-repeat: no-repeat; }

.icon-wikia-brand_dark { background-image: url('png/wikia-brand_dark.png'); background-repeat: no-repeat; }

.icon-wikia { background-image: url('png/wikia.png'); background-repeat: no-repeat; }

